[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Visual Studio / Rider
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.slnx
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Unity generated
*.unitypackage
*.apk
*.aab

# Crashlytics
crashlytics-build.properties

# OS
.DS_Store
Thumbs.db
